.icon
  &__arrow
    display: inline-block
    background-image: url(../img/icons/link.svg)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    width: 24px
    height: 24px
  &__vk
    display: inline-block
    background-image: url(../img/icons/vk.svg)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    width: 20px
    height: 12px
  &__instagram
    display: inline-block
    background-image: url(../img/icons/instagram.svg)
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    width: 16px
    height: 16px