.slider
    &--active
        display: flex!important
        justify-content: center!important
        align-items: center!important
    &__topic
        position: absolute
        top: 17.5px
        left: 50%
        transform: translateX(-50%)
        text-align: center
        display: inline-block
        padding: 7px 14px
        font-size: 12px
        font-weight: 700
        line-height: 125%
        color: #ffffff
        background-color: rgba(255,255,255,.15)
        backdrop-filter: blur(20px)
        z-index: 1
        border-radius: 20px
    &__bottom
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        padding: 13px 15px
        background-color: rgba(#000000, 0.4)
        border-radius: unset
        z-index: 1
    &__button
        position: static !important
        margin: unset !important
        color: #737D83 !important
        width: 10.33px !important
        height: 20.11px !important
        &::after
            font-size: 24px !important
    &__pagination
        position: static !important
        color: #737D83 !important
    &__image
        width: 100%
        height: 100%
        object-fit: cover
        border-radius: unset
.swiper
    &-pagination
        &-bullet
            background: darken(#737D83, 25%) !important
            opacity: unset !important
            &-active
                background: #737D83 !important
    &-slide
        border-radius: unset